*

!.gitignore

!docs/
!docs/LICENSE
!docs/README*
!crates
!crates/**

!vendor
!vendor/**

!flake.nix
!flake.lock

!Cargo.toml
!Cargo.lock
!ARCHIVR-MENTAL-MODEL.md
!NEXT.md

!modules/
!modules/**

!frontend/
!frontend/**
frontend/node_modules/
frontend/node_modules/**
frontend/result
frontend/result/**
frontend/dist/
frontend/dist/**
.DS_Store
frontend/storybook-static/
frontend/storybook-static/**
