*

!.gitignore

!docs/
!docs/LICENSE
!docs/README*
!docs/superpowers/
!docs/superpowers/**

!crates
!crates/**

!vendor
!vendor/**

!flake.nix
!flake.lock

!Cargo.toml
!Cargo.lock
!ARCHIVR-MENTAL-MODEL.md
!NEXT.md

!frontend/
!frontend/**
frontend/node_modules/
frontend/node_modules/**
